.game-container {
  // background-color: aquamarine;
  height: 800px;
  // width: 100%;
}
.running-track {
  margin: auto;
  height: 700px;
  background-color: black;
}
.img-container {
  // background-color: rgb(10, 10, 10);
  height: 600px;
  padding: 1px;
  position: relative;
  right: 50px;
}
.display-none {
  display: none;
}
#dog,
#horse,
#duck,
#chick {
  position: relative;
  right: 0;
}
// .chosen {
//   height: 180px;
//   width: 180px;
// }
.img {
  height: 80px;
  width: 80px;
}
.h3 {
  height: 35px;
}
