.container {
  background-color: rgb(10, 10, 10);
  height: 2000px !important;
  // width: 100%;
}
.running-track {
  // height: 1900px !important;
  // background-color: rgb(194, 101, 101);
  padding-top: 10%;
}
.cards-container {
  position: relative;
  right: 0;
}
