body {
  text-align: center;
}

.color,
.color-2 {
  margin: auto;
  width: 200px;
  height: 200px;
}
.test {
  font-size: 1.5rem;
  line-height: 2;
  margin: auto;
  width: 200px;
  height: 200px;
}
